{% extends 'base.html' %}
{% block content %}

<style>
    body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
    }

    h1 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }

    table {
        width: 50%;
        margin: 20px auto;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 15px;
        overflow: hidden;
        border: 3px solid #ffffff; /* Menambahkan border pada tabel agar outline tetap terlihat */
    }

    th, td {
        padding: 15px;
        text-align: left;
        border: 1px solid #ffffff;
        color: #dddddd;
    }

    td:first-child {
        background-color: #444;
        color: white;
        text-align: right;
        font-weight: bold;
        width: 30%;
    }

    td:last-child {
        background-color: #222;
    }

    input[type="text"], textarea {
        width: 95%;
        padding: 10px;
        border: 1px solid #444;
        border-radius: 5px;
        background-color: #333; /* Warna input lebih gelap */
        color: #ffffff;
    }

    input[type="number"], textarea {
        width: 95%;
        padding: 10px;
        border: 1px solid #444;
        border-radius: 5px;
        background-color: #333; /* Warna input lebih gelap */
        color: #ffffff;
    }

    input[type="submit"] {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

    input[type="submit"]:hover {
        background-color: #218838;
    }
</style>

<h1>Add New Product Entry</h1>

<form method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Add Product Entry" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}
